<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pl.hengda.app.mapper.HouseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="House" type="com.pl.hengda.app.model.House">
        <result column="id" property="id"/>
        <result column="housename" property="housename"/>
        <result column="housedirect" property="housedirect"/>
        <result column="apartmentlayout" property="apartmentlayout"/>
        <result column="measure" property="measure"/>
        <result column="referenceprice" property="referenceprice"/>
        <result column="floor" property="floor"/>
        <result column="roomnumber" property="roomnumber"/>
        <result column="desc" property="desc"/>
        <result column="housemappath" property="housemappath"/>
        <result column="discount" property="discount"/>
    </resultMap>

    <select id="getHouseByName" resultType="com.pl.hengda.app.model.House" parameterType="Map">
        select * from house where housename = #{housename}
    </select>
    <select id="getAllHouse" resultType="com.pl.hengda.app.model.House">
        select * from house
    </select>
</mapper>